<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ElectricityBillSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminAddBillServlet</display-name>
    <servlet-name>AdminAddBillServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBillServlet</servlet-name>
    <url-pattern>/AdminAddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBillsServlet</display-name>
    <servlet-name>AdminAddBillsServlet</servlet-name>
    <servlet-class>controller.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBillsServlet</servlet-name>
    <url-pattern>/AdminAddBillsServlet</url-pattern>
  </servlet-mapping>
</web-app>